*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar{
    width: 6px;
}

*::-webkit-scrollbar-thumb{
    background-color: #cfcfcf;
    border-radius: 10px;
}

body{
    font-family: "Open Sans", sans-serif;
    background-color: #efefef;
}

button{
    font-family: inherit;
    cursor: pointer;
}

.main-container{
    display: grid;

    grid-template-columns: 260px 1fr;
    grid-template-rows: 90px 1fr;

    grid-template-areas:
    "sidebar header"
    "sidebar main";

    height: 100vh;
}

.sidebar{
    grid-area: sidebar;

    background-color: white;

    border-right: 1px solid #d8d8d8;

    padding: 30px 18px;

    display: flex;
    flex-direction: column;
}

.sidebar h2{
    color: #3751FE;

    text-align: center;

    margin-bottom: 60px;

    font-size: 28px;
}

/*menu*/

.menu{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menu button,
.exit button{
    width: 100%;

    border: none;
    background-color: transparent;

    display: flex;
    align-items: center;

    gap: 16px;

    padding: 16px 18px;

    border-radius: 12px;

    transition: 0.2s;
}

.menu button:hover,
.exit button:hover{
    background-color: #f3f3f3;
}

.menu button img,
.exit button img{
    width: 24px;
    height: 24px;
}

.menu button span,
.exit button span{
    font-size: 17px;
    font-weight: 600;
}

.menu .active{
    background-color: #e9edff;
    color: #3751FE;
}

.exit{
    margin-top: auto;
}

.header{
    grid-area: header;

    background-color: white;

    border-bottom: 1px solid #d8d8d8;

    display: flex;
    align-items: center;

    padding: 0 40px;
}

.header h1{
    font-size: 42px;
    font-weight: 700;
}

.main{
    grid-area: main;

    padding: 40px;

    display: flex;
    flex-direction: column;

    gap: 30px;
}

.riwayat-transaksi{
    background-color: white;

    border: 1px solid #d8d8d8;

    border-radius: 24px;

    padding: 30px;

    box-shadow: 0 2px 10px rgba(0,0,0,0.04);
}

.riwayat-transaksi h2{
    margin-bottom: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
}

th{
    border-bottom: 1px solid #d8d8d8;
    font-size: 18px;
}

tr{
    border-top: 1px solid #d8d8d8;
}

td{
    padding: 30px;
    color: #262626;
}

.status-container {
    width: 80px;
    font-weight: 600;
}

.late-status{
    padding: 8px;
    border-radius: 30px;
    background-color: rgba(216, 38, 38, 0.495);
}

.active-status{
    padding: 8px;
    border-radius: 30px;
    background-color: rgba(223, 223, 23, 0.788);
}

.finished-status{
    padding: 8px;
    border-radius: 30px;
    background-color: rgba(20, 153, 235, 0.797);
}
